<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">



    <servlet>
        <servlet-name>myhtml.html</servlet-name>
        <servlet-class>com.mytomcat.servlet.myFirstServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>myhtml.html</servlet-name>
        <url-pattern>/myhtml.html</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>myhtml2.html</servlet-name>
        <servlet-class>com.mytomcat.servlet.mySecondServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>myhtml2.html</servlet-name>
        <url-pattern>/myhtml2.html</url-pattern>
    </servlet-mapping>



</web-app>